$padding: 1em;
.l-container {
  display: flex;
  flex-flow: row wrap;
}
.l-header {
  flex: 1;
  padding: $padding;
}
.l-content {
  flex: 4;
  padding: $padding;
}
.l-footer {
  flex: 1 100%;
  padding: $padding;
}
