// _layout.scss
@import 'mixins/clearfix';
@import '../bower_components/susy/sass/susy';

// NON FUNZIONA @import '../bower_components/breakpoint-sass/stylesheets/breakpoint';
//@import '../bower_components/compass-breakpoint/stylesheets/breakpoint';
//@import '../bower_components/sass-toolkit/stylesheets/toolkit';


$susy: (
  global-box-sizing: border-box,
  use-custom: (
    rem: true
  )
);


@include border-box-sizing;

.container {
  @include container;
  @include clearfix;
}
.mainbar {
  @include span(2 of 10);
}
.summary {
  @include span(6 of 10);
}
