// _theme.scss
@import 'fonts';


$color1: #7fc;
$color2: #fc7;
$color3: #c7f;
$color4: gold;
$color5: rgb(130,180,200);

$theme-color: $color5;


$text-color: #666;
$bg-color: #222;
$link-color: darken($theme-color, 20%);
$title-color: darken($theme-color, 10%);



body {
  color: $text-color;
  background-color: $bg-color;
}

body > footer {
  background-color: black;
  padding: 2em;
}
a {
  text-decoration: none;
  color: $link-color;
  &:hover {
    text-decoration: underline;
    color: $theme-color;
  }
}


// SINGLE PAGE

.title {
  font-size: 400%;
}
.description {
  font-size: 150%;
}

// SUMMARY PAGE

.summary-item-title {
  > a {
    font-size: 200%;
    color: $title-color;
  }
}

.summary-item-content {
  margin: 0.5rem 0;
}

// LOGO

.logo {
  padding-left: 2rem;
  font-size: 4rem;
  font-weight: normal;
  > a {
    color: inherit;
  }
}

// DRAFT

.draft {
  display: inline-block;
  background-color: $theme-color;
  color: black;
  font-size: 80%;
  padding: 0rem 0.2rem;
  margin-left: 0.7rem;
}

// DATA
.date, .reading-time, .tags {
  &:before {

    padding-right: 0.25rem;

  	font-family: 'icomoon';
    font-size: 80%;
    color: darken($theme-color, 20%);

  	speak: none;
  	font-style: normal;
  	font-weight: normal;
  	font-variant: normal;
  	text-transform: none;
  	line-height: 1;

  	// Better Font Rendering ===========
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;

  }
}

.date {
  &:before {
    content: $icomoon-char-date;
  }
}

.reading-time {
  &:before {
    content: $icomoon-char-time;
  }
}
