body {
  color: #666;
}
.mainbar {
  background-color: #7fc;
}
body > footer {
  background-color: #fc7;
}
a {
  text-decoration: none;
  color: #4362df;
  &:hover {
    text-decoration: underline;
  }
}
