// style.scss
@import 'base';
@import 'layout';
@import 'theme';

@import 'mixins/reset';


//// TAGS

.tags {
  list-style-type: none;
  @include reset-box-model();
  &:before {
    content: $icomoon-char-tags;
  }
  > li {
    display: inline-block;
    margin-right: 4px;
  }
}

.tag {
  background-color: $text-color;
  border-radius: 12px;
  color: $bg-color;
  font-size: 80%;
  padding: 2px 6px 1px;
  margin: 0;


  &:hover {
    background-color: $theme-color;
    color: $bg-color;
    text-decoration: none;
  }
}
