# ignore hugo 'public' folder
/public
# ignore 'themes' folder (and subfolders)
/themes/*
# not ignore 'themes/mmbase' subfolder
!/themes/mmbase
/themes/mmbase/**/*.map

/node_modules
/bower_components
