@import 'clearfix';
@import 'reset';

@mixin no-bullet {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

@mixin horizontal-list-container {
  @include reset-box-model;
  @include clearfix;
}

@mixin horizontal-list-item($padding: 4px, $direction: left) {
   @include no-bullet;
   white-space: nowrap;
   float: unquote($direction);
   @if $padding {
     padding: {
       left: $padding;
       right: $padding;
     };
     &:first-child {
       padding-#{$direction}: 0;
     }
     &:last-child {
       padding-#{opposite-position($direction)}: 0;
     }
   }
}

@mixin horizontal-list($padding: 4px, $direction: left) {
  @include horizontal-list-container;
  li {
    @include horizontal-list-item($padding, $direction);
  }
}
