{{ partial "common_page_start.html" . }}
<!--

 header
   .title
   .description
   .info
     .date
     .reading-time
     .tags
 article

-->


  <section class="l-content">

    <!-- HEADER -->
    <header>
      <!-- TITLE -->
      <h1 class="title">{{ .Title }}{{ if .Draft }}<span class="draft">DRAFT</span>{{ end }}</h1>
      {{if .Description }}
      <p class="description">{{ .Description }}</p>
      {{end}}
      <!-- INFO -->
      <div class="info">
        <!-- DATE -->
        <div class="date">{{ .Date.Format "Mon January 2, 2006" }}</div>
        <!-- READING-TIME -->
        <div class="reading-time">Read in {{ .ReadingTime }} min</div>
        <!-- TAGS -->
        {{ partial "tags.html" .Params }}
      </div>
    </header>

    <article>
       {{ .Content }}
    </article>

  </section>

{{ partial "common_page_end.html" . }}
