<!--

  .summary-item
    header
      .summary-item-title
      .summary-item-info
        .date
        .reading-time
        .tags
    .summary-item-content
    .summary-item-footer
-->

<!-- SUMMARY-ITEM -->
<article class="summary-item">

  <!-- HEADER -->
  <header>
    <!-- TITLE -->
    <h3 class="summary-item-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ if .Draft }}<span class="draft">DRAFT</span>{{ end }}</h3>
    {{if .Description }}
    <h4>{{ .Description }}</h4>
    {{end}}
    <!-- INFO -->
    <div class="summary-item-info">
      <!-- DATE -->
      <div class="date">{{ .Date.Format "Mon January 2, 2006" }}</div>
      <!-- READING-TIME -->
      <div class="reading-time">Read in {{ .ReadingTime }} min</div>
      <!-- TAGS -->
      {{ partial "tags.html" .Params }}
    </div>
  </header>

  <!-- CONTENT -->
  <div class="summary-item-content">
    {{ .Summary }}
  </div>

  {{ if .Truncated }}
  <div class="read-more-link">
    <a href="{{ .RelPermalink }}">Read More ...</a>
  </div>
  {{ end }}

</article>
