html {
  font-family: sans-serif;
  color: #444;
  background-color: #ffffff;
}

.home {
  background-color: #43e061;
}

.home a {
  color: #ffffff;
}

a {
  color: #43e061;
  text-decoration: none;
}

a:hover {
  color: #ee3333;
  text-decoration: underline;
}

h1, h2, h3 {
  color: #438061;
}


.tags {
  padding: 0;
}
.tags li {
  display: inline;
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
}

.tags li a:hover {
  color: black;
  background-color: #ee3333;
  text-decoration: none;
}
