{{/*

### Nome lungo del giorno della settimana

*/}}{{with $x := .Format "Monday"}}{{/*
*/}}{{if eq $x "Monday"}}lunedì{{/*
*/}}{{else if eq $x "Tuesday"}}martedì{{/*
*/}}{{else if eq $x "Wednesday"}}mercoledì{{/*
*/}}{{else if eq $x "Thursday"}}giovedì{{/*
*/}}{{else if eq $x "Friday"}}venerdì{{/*
*/}}{{else if eq $x "Saturday"}}sabato{{/*
*/}}{{else}}domenica{{end}}{{end}} {{/*

### Giorno del mese

*/}}{{.Format "2"}} {{/*

### Nome del mese

*/}}{{with $m := .Format "January"}}{{/*
*/}}{{if eq $m "January"}}gennaio{{/*
*/}}{{else if eq $m "February"}}febbraio{{/*
*/}}{{else if eq $m "March"}}marzo{{/*
*/}}{{else if eq $m "April"}}aprile{{/*
*/}}{{else if eq $m "May"}}maggio{{/*
*/}}{{else if eq $m "June"}}giugno{{/*
*/}}{{else if eq $m "July"}}luglio{{/*
*/}}{{else if eq $m "August"}}agosto{{/*
*/}}{{else if eq $m "September"}}settembre{{/*
*/}}{{else if eq $m "October"}}ottobre{{/*
*/}}{{else if eq $m "November"}}novembre{{/*
*/}}{{else}}dicembre{{/*
*/}}{{end}}{{end}} {{/*

### Anno

*/}}{{.Format "2006"}}
